/* ============ËÑË÷±íµ¥============== */
div.globalsearchformzone_2010{
	padding-left:18px;
	padding-top:5px;
}

div.globalsearchformzone_2010 div.globalsearchform1{
	color:#fff;
	float:left;
}

div.globalsearchformzone_2010 div.globalsearchform1 input{
	padding:0px 3px 0px 0px;
	height:15px;
	border:1px #ddd solid;
}

div.globalsearchformzone_2010 div.globalsearchform2{
	padding-left:145px;
	padding-top:1px;
}
