<link href="css/searchform_2010.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="{#CP#}js/searchform.js"></script>
<div class="globalsearchformzone_2010">

<form id="globalsearchform_2010" method="get" action="{#RP#}search/index.php">
  
  <div class="globalsearchform1">
    搜索：<input name="key" type="text" id="globalsearchform_key" value="{#key#}" size="13" class="input">
  </div>
  <div class="globalsearchform2">
  <input name="imageField" id="button" type="image" src="images/search6.jpg" >
  </div>
</form>
</div>
